<?php
/**
 * Der Modulprogrammierer - Magento App Factory AG
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the
 * Der Modulprogrammierer - COMMERCIAL SOFTWARE LICENSE (v1.0) (DMCSL 1.0)
 * that is bundled with this package in the file LICENSE.txt.
 *
 *
 * @category   DerModPro
 * @package    DerModPro_Groupswitcher
 * @copyright  Copyright (c) 2012 Der Modulprogrammierer - Magento App Factory AG
 * @license    Der Modulprogrammierer - COMMERCIAL SOFTWARE LICENSE (v1.0) (DMCSL 1.0)
 */
?>
<?php
    /** @var $helper DerModPro_GroupSwitcher_Helper_Data */
    $helper = Mage::helper('GroupSwitcher/data');
?>

<table cellspacing="0" class="switcher" width="100%" class="form-list">
    <col width="220px" />
    <col />
    <thead>
        <tr>
            <th colspan="2">
                <?php echo $this->escapeHtml($this->getFieldsetLabel()) ?>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><?php echo $this->__('Version'); ?></td>
            <td><?php echo $this->getVersion(); ?></td>
        </tr>
        <tr>
            <td><?php echo $this->__('Find more at'); ?></td>
            <td>
                <a href="<?php echo $helper->getDocumentationLink(); ?>"><?php echo $helper->getDocumentationLink(); ?></a></td>
        </tr>
        <tr>
            <td><?php echo $this->__('FAQ'); ?></td>
            <td><a href="<?php echo $helper->getFaqLink(); ?>"><?php echo $helper->getFaqLink(); ?></a></td>
        </tr>
        <tr>
            <td class="label"><?php echo $this->__('Need support? Contact us'); ?></td>
            <?php
                $mageVersion = Mage::getVersion();
                if (is_callable('Mage::getEdition')) {
                    $mageVersion = Mage::getEdition() . ' ' . $mageVersion;
                }
                $bodyInfo = array(
                    '',
                    '===',
                    'Magento version:    '  . $mageVersion,
                    'Groupswitcher app version: ' . $this->getVersion(),
                    'Shop URI:           '  . Mage::getBaseUrl()
                );
            ?>
            <td><a href="mailto:<?php echo $helper->getSupportMail(); ?>?body=<?php echo rawurlencode(implode("\n", $bodyInfo)) ?>"><?php echo Mage::helper('GroupSwitcher/data')->getSupportMail() ?></a></td>
        </tr>
    </tbody>
</table>