<!--@subject Sie gehören jetzt zu der Kundengruppe {{htmlescape var=$new_group.getCode()}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"skin url=\"images/logo_email.gif\" _area='frontend'":"Email Logo Bild",
"htmlescape var=$customer.getName()":"Kunden Name",
"htmlescape var=$new_group.getCode()":"Neue Gruppe",
"htmlescape var=$prev_group.getCode()":"Vorherige Gruppe",
"var store.getFrontendName()":"Shop Name",
"store url=\"customer/account/\"":"Kundenkonto Url"}
@-->
<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

<div style="font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;">
<table cellspacing="0" cellpadding="0" border="0" width="98%" style="margin-top:10px; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
<tr>
    <td align="center" valign="top">
        <!-- [ header starts here] -->
        <table cellspacing="0" cellpadding="0" border="0" width="650">
            <tr>
                <td valign="top"><a href="{{store url=""}}"><img src="{{skin url="images/logo_email.gif" _area='frontend'}}" alt="{{var store.getFrontendName()}}"  style="margin-bottom:10px;" border="0"/></a></td>
            </tr>
        </table>
        <!-- [ middle starts here] -->
        <table cellspacing="0" cellpadding="0" border="0" width="650">
            <tr>
                <td valign="top">
                    <p>
                        <strong>Hallo {{htmlescape var=$order.getCustomerName()}}</strong>,<br/>
                        Sie gehören jetzt zu der Kundengruppe {{htmlescape var=$new_group.getCode()}} (Ihre vorherige Kundengruppe war {{htmlescape var=$prev_group.getCode()}}).
                        Sie können Ihren Status jederzeit <a href="{{store url="customer/account/"}}" style="color:#1E7EC8;">in Ihrem Kundenprofil</a> kontrollieren.
                        Sollten Sie irgend welche Fragen haben, bitte kontaktieren Sie uns per Email <a href="mailto:{{config path='trans_email/ident_support/email'}}" style="color:#1E7EC8;">{{config path='trans_email/ident_support/email'}}</a> oder rufen Sie uns an unter <span class="nobr">{{config path='general/store_information/phone'}}</span> Montag - Freitag, 8 - 17 Uhr.
                    </p>
                    <p>Mit freundlichen Grüßen,<br/><strong>{{var store.getFrontendName()}}</strong></p>
                </td>
            </tr>
        </table>
    </td>
</tr>
</table>
</div>
